# Tarefa 01

- Leia os enunciados com atenção
- Saiba que pode haver mais de uma resposta correta
- Insira novas células de código sempre que achar necessário
- Em caso de dúvidas, procure os tutores
- Divirta-se :)

#### 1)  crie uma série do pandas a partir de uma lista com os dados abaixo:

Em um estudo sobre alteração na tempreatura global, A NASA disponibiliza dados de diferenças de de temperatura média da superfície terrestre relativos às médias de temperatura entre 1951 e 1980. Os dados originais podem ser vistos no site da NASA/GISS, e estão dispostos a cada década na tabela abaixo.

|ano|anomalia termica|
|:-:|:----:|
| 1900 | -0.08 |
| 1920 | -0.27 |
| 1940 | 0.12 |
| 1960 | -0.03 |
| 1980 | 0.26 |
| 2000 | 0.40 |
| 2020 | 1.02 |

Crie uma séries do Pandas a partir de uma lista com esses dados.

In [6]:
import pandas as pd
import numpy as np

anos = [1900,1920,1940,1960,1980,2000,2020]
anomaliatermica = [-0.08,-0.27,0.12,-0.03,0.26,0.40,1.02]

anosSeries = pd.Series(data = anos)
anomaliatermicaSeries = pd.Series(data = anomaliatermica)

print(anosSeries)

0    1900
1    1920
2    1940
3    1960
4    1980
5    2000
6    2020
dtype: int64
[-0.08, -0.27, 0.12, -0.03, 0.26, 0.4, 1.02]

In [8]:
print(anomaliatermicaSeries)

0   -0.08
1   -0.27
2    0.12
3   -0.03
4    0.26
5    0.40
6    1.02
dtype: float64

In [ ]:
anomaliatermica

#### 2) Coloque os anos nos índices conforme a tabela.

In [10]:

variacaoTemp=pd.Series(data=anomaliatermica, index = anos )
variacaoTemp

1900   -0.08
1920   -0.27
1940    0.12
1960   -0.03
1980    0.26
2000    0.40
2020    1.02
dtype: float64

#### 3) A partir do dicionário abaixo, crie uma séries do Pandas:

In [11]:
dic_temperaturas = {1900: -.08, 1920: -.27, 1940: .12, 1960: -.03, 1980: .26, 2000: .40, 2020: 1.02}

series_temperaturas = pd.Series(dic_temperaturas)

series_temperaturas

1900   -0.08
1920   -0.27
1940    0.12
1960   -0.03
1980    0.26
2000    0.40
2020    1.02
dtype: float64

#### 4) Transforme o ndarray abaixo em um dataframe. 
O numpy é capaz de gerar arrays n-dimensionais com números pseudo-aleatórios de acordo com uma variedade de distribuições, como no exemplo abaixo. Transforme esse nd-array em um DataFrame.

In [18]:
arr = np.random.normal(100, 10, (20,3))

df = pd.DataFrame(arr)
df

             0           1           2
0    98.295631  103.347207  113.259153
1   105.149543  101.770900  111.673599
2    94.782022  110.133737   97.698917
3    97.726193   95.524794   89.610844
4   117.016280  111.223752  100.655279
5   104.141040   92.839253   93.708869
6   107.589146   77.022844   89.926824
7    92.267327  106.436649  103.719929
8    89.412237   85.083094  107.149360
9    95.812310  113.472055   89.284097
10   90.229707   83.462025  105.037325
11  100.915183   98.275237  103.548969
12   76.785557  104.506683   89.564421
13   85.268494  109.857417  105.437600
14  102.711921  107.518605  100.016169
15  106.046885  106.752205   80.216849
16   80.884764  106.921372  105.203810
17   90.142998  100.575559  107.642161
18   84.526894  105.361073  106.526510
19  101.529946  100.864464  112.591893

#### 5) Nomeie os índices das linhas com inteiros de 1 a 20, e as colunas com os nomes "x1", "x2", e "x3" respectivamente.

In [42]:
df.index = [i for i in range(1,21)]
df.columns = ["x1", "x2", "x3"]
df

            x1          x2          x3
1    98.295631  103.347207  113.259153
2   105.149543  101.770900  111.673599
3    94.782022  110.133737   97.698917
4    97.726193   95.524794   89.610844
5   117.016280  111.223752  100.655279
6   104.141040   92.839253   93.708869
7   107.589146   77.022844   89.926824
8    92.267327  106.436649  103.719929
9    89.412237   85.083094  107.149360
10   95.812310  113.472055   89.284097
11   90.229707   83.462025  105.037325
12  100.915183   98.275237  103.548969
13   76.785557  104.506683   89.564421
14   85.268494  109.857417  105.437600
15  102.711921  107.518605  100.016169
16  106.046885  106.752205   80.216849
17   80.884764  106.921372  105.203810
18   90.142998  100.575559  107.642161
19   84.526894  105.361073  106.526510
20  101.529946  100.864464  112.591893

#### 6) No DataFrame do exercício 5, crie uma nova coluna como sendo a média das três colunas, e dê a ela o nome de "media" (não recomendo colocar acentos em nomes de variáveis).

In [43]:
# seu código aqui
df['media'] = (df["x1"]+df["x2"]+df["x3"])/3
df

            x1          x2          x3       media
1    98.295631  103.347207  113.259153  104.967330
2   105.149543  101.770900  111.673599  106.198014
3    94.782022  110.133737   97.698917  100.871559
4    97.726193   95.524794   89.610844   94.287277
5   117.016280  111.223752  100.655279  109.631770
6   104.141040   92.839253   93.708869   96.896387
7   107.589146   77.022844   89.926824   91.512938
8    92.267327  106.436649  103.719929  100.807968
9    89.412237   85.083094  107.149360   93.881564
10   95.812310  113.472055   89.284097   99.522821
11   90.229707   83.462025  105.037325   92.909686
12  100.915183   98.275237  103.548969  100.913129
13   76.785557  104.506683   89.564421   90.285553
14   85.268494  109.857417  105.437600  100.187837
15  102.711921  107.518605  100.016169  103.415565
16  106.046885  106.752205   80.216849   97.671980
17   80.884764  106.921372  105.203810   97.669982
18   90.142998  100.575559  107.642161   99.453573
19   84.526894  105.361073  106.526510   98.804826
20  101.529946  100.864464  112.591893  104.995434

#### 7) No DataFrame do exercício 6, crie uma nova coluna chamada "log_med", contendo o logaritmo natural da média calculada no exercício 6 <br>

In [45]:
# seu código aqui
df['log_med'] = np.random.lognormal(df['media'],1)
df

            x1          x2          x3       media       log_med
1    98.295631  103.347207  113.259153  104.967330  1.372336e+46
2   105.149543  101.770900  111.673599  106.198014  8.134929e+45
3    94.782022  110.133737   97.698917  100.871559  4.201241e+43
4    97.726193   95.524794   89.610844   94.287277  1.314208e+41
5   117.016280  111.223752  100.655279  109.631770  1.357756e+48
6   104.141040   92.839253   93.708869   96.896387  3.342934e+42
7   107.589146   77.022844   89.926824   91.512938  7.469761e+39
8    92.267327  106.436649  103.719929  100.807968  5.814491e+43
9    89.412237   85.083094  107.149360   93.881564  8.177309e+40
10   95.812310  113.472055   89.284097   99.522821  1.538459e+44
11   90.229707   83.462025  105.037325   92.909686  1.979988e+40
12  100.915183   98.275237  103.548969  100.913129  1.957881e+43
13   76.785557  104.506683   89.564421   90.285553  8.751228e+38
14   85.268494  109.857417  105.437600  100.187837  3.804421e+43
15  102.711921  107.518605  100.016169  103.415565  4.345040e+44
16  106.046885  106.752205   80.216849   97.671980  2.434751e+42
17   80.884764  106.921372  105.203810   97.669982  1.009517e+42
18   90.142998  100.575559  107.642161   99.453573  2.541093e+43
19   84.526894  105.361073  106.526510   98.804826  9.441155e+42
20  101.529946  100.864464  112.591893  104.995434  3.728990e+44